/* Animation Left to Right site */
@keyframes leftToRight {
     from {    
       left: 0;
    }
     to  {
        background-color: #13fd3a;
        left: 120px;
    }
    
}

.is_anim_left_to_right{
    position: absolute;
    padding: 20px;
    animation-name: leftToRight;
    animation-duration: 3s ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    
}